python-dotenv
langchain
langserve
langchain-community
langchain-text-splitters
langchain-classic
langchain-chroma
langchain-openai
langchain-huggingface
langchain-groq
langgraph
langgraph-checkpoint
chromadb
faiss-cpu
sentence-transformers
pypdf
beautifulsoup4
streamlit
fastapi
sse_starlette
arxiv
wikipedia
ddgs